@{
    ViewData["Title"] = "Projects";
}

<h2>Projects</h2>
<ul>
    <li>
        <a href="https://github.com/yourusername/project1">Project 1</a>
        <p>Short description of project 1.</p>
    </li>
    <li>
        <a href="https://github.com/yourusername/project2">Project 2</a>
        <p>Short description of project 2.</p>
    </li>
</ul>
